body {
	height: 100%;
	margin: 0%;
}

body{
	background-image: url("../images/My_project.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
}

.topic{						  /*styling the title of the page*/
	font-size:50px;
	text-align:center;
	font-family:serif;
	color:#0000e6;
}

.name{						  /*styling the details about group members*/
	text-align:center;
	font-size:25px;
	font-family:verdana;
	color:black;
	padding-top:10px;
}

.team{
	text-align:center;
	font-size:30px;
	padding-top:25px;
	color:#666633;
}

.editor a{
	text-decoration:none;
	float:right;
	font-size:20px;
	margin-top:25px;
	font-family:verdana;
	padding-top:100px;
	margin-right:10px;
}

a:link{
	color: white;
}

a:visited{
	color: purple;
}

a:hover{
	color: #ffbf00;
}

a:active{
	color: red;
}

img{
	background-color:black;
}