body, html {
    height: 100%;
    margin: 0;
}
 
.bg {
    background-image: url("../images/Cover2.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	margin-top:57px;
}
  
#coverpage{
    padding:0;
    margin-left:0; 
    background-color:black; 
    top:0; 
	float:left;
}

#coverimage{
    width: 60px;
    height: 60px;
}

.navbar{
    position:fixed;
    top:0;
    width:100%;
	background-color: #555; 
	overflow: auto; 
}
	
.caption {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
	text-align: center;
	color: #000;
}

.caption span.border {
    color: #fff;
    padding: 15px;
    font-size: 50px;
    letter-spacing: 10px;
}

.navbar a {
    float: left; 
    text-align: center; 
    width: 14%; 
    padding: 12px 0; 
    transition: all 0.3s ease; 
    color: white; 
    font-size: 36px; 
}

.navbar a:hover {
    background-color: #000; 
}

.active {
    background-color: #04AA6D; 
}

footer{
	width:100%;
	position:relative;
	bottom:0;
	background:linear-gradient(to right,#00093c,#2d0b00);
	color:#fff;
	padding:100px 0 30px;
	font-size:13px;
	line-height:20px;
	box-sizing:border-box;
}

.row{
	width:85%;
	margin:auto;
	display:flex;
	flex-wrap:wrap;
	align-items:flex-start;
	
}

.col{
	flex-basis:20%;
	padding:15px;
}



#logo{
	width:30px;
	height:30px;
	margin-bottom:30px;
}

.col h3{
	width:fit-content;
	margin-bottom:40px;
	position:relative;
	padding-left:20px;
	text-decoration: underline solid white 30%;
}

ul li{
	list-style:none;
	margin-bottom:12px;
	float:left;
	clear:left;
	
}

ul li a {
	text-decoration:none;
	color:#fff;
}
	
.final ul li{
	list-style:none;
	margin-bottom:12px;
	float:left;
	clear:left;
}

.final ul li a {
	text-decoration:none;
	color:#fff;
}

hr {
	width:90%;
	border:0;
	border-bottom:1px solid #ccc;
	margin: 20px auto;
}

.copyright {
	text-align:center;
}

.underline {
	width:100%;
	height:5px;
	background:#767676;
	border-radius:3px;
	position:absolute;
	top:25px;
	left:0;
}

#header{
	text-align:center;
	font-size:60px;
	
}
.header2{
	text-align:center;
	font-size:30px;
	margin-top:10px;
}

.centeralign{
	text-align:center;
}

.gal{
	width:50%;
	float:left;
}

.imgcat1{
	width:96.5%;
}

.imgcat2{
	width:48%;
}

.tblestyle{
	width:100%;
	text-align:justify;
}

#table{
	width:100%;
	text-align:center;
}

.cellwidth{
	width:19%;
}

.trpimg{
	width:95%;
}

.services{
	display:inline-block;
	width:23%;
}

.link1 {
	text-decoration:none;
	color:black;
	font-size:25px;
}

.linkimg{
	width:80%;
}
.para{
	padding-left: 4px;
	padding-right:4px;
	font-size: 20px;
}