* {
	font-family: Arial;
	
}

body {
	background-image: url("../images/Sri_Lanka.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin:0;
	
}

.container {
	width:100%;
	height:100%;
	background-color:rgba(167, 224, 245, 0.8);
	margin-top:65px;
	
}

form {
	max-width:500px;
	width:90%;
	margin:10vh auto 0 auto;
	padding: 40px;
	border-radius: 3px;
	box-sizing: border-box;
	
}

.query {
	margin:0;
	text-align:center;
	
}

label{
	display:block;
	margin:20px 0;
}

input, textarea {
	width:100%;
	padding: 10px;
	box-sizing: border-box;
	outline:none;
	resize:none;
	background-color:rgb(69, 222, 194);
}

select {
	width:100%;
	padding: 10px;
	box-sizing: border-box;
	outline:none;
	resize:none;
	background-color:rgb(69, 222, 194);
}

input[type="text"]:focus, textarea:focus {
	border-bottom: 5px solid rgb(255,0,106);
}

input[type="email"]:focus {
	border-bottom: 5px solid rgb(255,0,106);
}                                                           

.center {
	text-align:center;
}

#form button {
	margin-top: 30px;
	width: 100%;
	max-width: 500px;
	background: linear-gradient(to right, rgb(255,0,106), rgb(255,6,61));
	color: white;
	font-size: 17px;
	cursor: pointer;
	border-radius: 3px;
	padding:10px;
	
}

html {
	overflow:scroll;
}

.ed_details {
	background-color: rgb(51, 144, 214);
	width:100%;
}

